@import "App.css";

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #000000;
}

#root {
  height: 100%;
}

/* Шрифт Vollkorn SC для заголовков */
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;700&display=swap');